[user]
	email = lcpost91@gmail.com
	name = Christiaan Post
[url "git@bitbucket.org:"]
    insteadOf = https://bitbucket.org/
[url "git@github.com:"]
    insteadOf = https://github.com/
[credentials]
    helper = store
[credential]
	helper = store
